/out
/gradle
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/misc.xml
/.idea/.name
/.idea/uiDesigner.xml
/local.properties
*.class
.idea/inspectionProfiles/Project_Default.xml
AndroidApplication/app/app.iml
